.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

button {
    font-size: 12px;
    padding: 5px 15px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#background-video {
    min-height: 100vh;
    min-width: 100vw;
    z-index: -2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

input {
    width: 100%;
    text-align: center;
    background: transparent;
    border: 0;
    color: #fff;
    font-weight: 900;
}

input:focus {
    outline: 0;
}

.left-side,
.right-side {
    width: 50vw;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.scoreboard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600px;
    font-weight: 900;
    color: #ffffff;
    box-sizing: border-box;
    text-shadow: 10px 0 #00b7ff, 0 10px #00b7ff, -10px 0 #00b7ff,
        0 -10px #00b7ff, 10px 10px #00b7ff, -10px -10px #00b7ff,
        10px -10px #00b7ff, -10px 10px #00b7ff;
}

.player-info-container {
    width: 800px;
    overflow: hidden;
    background: rgba(112, 49, 155, 0.85);
    border-radius: 25px;
    padding: 10px;
    border: 5px solid #ff0;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    align-self: flex-end;
    margin-bottom: 25px;
}

#player-name {
    padding: 25px 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 900;
    box-sizing: border-box;
    border-radius: 25px;
    border: 5px solid #ed558c;
    background: rgba(0, 0, 0, 0.25);
    text-shadow: 2px 2px #ed558c, -2px 2px #ed558c, 2px -2px #ed558c,
        -2px -2px #ed558c;
    text-transform: capitalize;
}

#player-scores {
    height: 100px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

#player-scores div {
    font-size: 72px;
    color: #fff;
    font-weight: 900;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ed558c;
    border-radius: 10px;
    box-sizing: border-box;
    flex: 0 0 33.3333%;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    padding-top: 10px;
}

#player-scores div::before {
    content: 'ROUND 1';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 12px;
    font-weight: 900;
}

#player-scores div[data-round-number='1']::before {
    content: 'ROUND 1';
}

#player-scores div[data-round-number='2']::before {
    content: 'ROUND 2';
}

#player-scores div[data-round-number='3']::before {
    content: 'ROUND 3';
}

#player-scores div:first-child {
    margin-left: 0;
}

#player-scores div:last-child {
    margin-right: 0;
}

#total-score {
    font-size: 160px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    height: 200px;
    border: 3px solid #ed558c;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
    padding-top: 10px;
}

#total-score::before {
    content: 'TOTAL SCORE';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 900;
}

.portal-sections div {
    margin-bottom: 10px;
}
